table#mitabla {
    border-collapse: collapse;
    border: 1px solid #CCC;
    
}
 
table#mitabla th {
    font-weight: bold;
    background-color: #E1E1E1;
    padding:5px;
	border: 1px solid #CCC;
}
 
table#mitabla tbody tr:hover td {
    background-color: #F3F3F3;
}
 
table#mitabla td {
    padding: 5px 10px;
	text-align:center;
	border: 1px solid #CCC;
}